@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundLight: rgb(255, 255, 255);
  --backgroundDark: #222831;
  --textcolorLight: rgb(0, 0, 0);
  --textcolorDark: rgb(255, 255, 255);
  --headercolorLight: rgb(51, 59, 165);
  --headercolorDark: #EEEEEE;
  --buttonColorLight: rgb(23, 68, 182);
  --buttonColorDark: rgb(235, 204, 126);
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
