@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundLight: rgb(255, 255, 255);
  --backgroundLightAccent: lightgrey;
  --backgroundDark: #222c31;
  --textcolorLight: #a9a9a9;
  --textcolorDark: rgb(255, 255, 255);
  --headercolorLight: #3f3f3f;
  --headercolorDark: #EEEEEE;
  --buttonColorLight: rgb(23, 68, 182);
  --buttonColorDark: rgb(235, 204, 126);
  --iconcolorDark: #b7d0e1
}

@media (prefers-color-scheme: dark) {
  :root {
    
    
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  color-scheme: dark light;
  font-family: inter, system-ui, sans-serif;
}

body {
  position: relative;
}

section {
  min-height: 100vh;
  min-height: 100svh;
  overflow: hidden;
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
}

.mainGrid {
  box-shadow: 0 7px 16px -4px black;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "landing landing landing"
                       "navHead navHead navHead"
                       "aboutMe aboutMe aboutMe"                       
                       "techSec techSec techSec"
                       "project project project"
                       "APIDemo APIDemo APIDemo"
                       "footers footers footers";
}

.landingSection {
  grid-area: landing;  
}

.parallax {
  position: relative;
  height: 45vh;
  height: 45svh;
  display: flex;
  justify-content: center;
}

.parallax > * {
  position: absolute;
  height: 45vh;
  height: 45svh;
  object-fit: cover;
}

.slideshow-container {
  height: 45vh;
  height: 45svh;
  position: absolute;
  object-fit: cover;  
}

.slideshow-images {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {opacity: 0} 
  50% {opacity: 1}
  100% {opacity: 0} 
}

.fadeComponent {
  height: 100%;
  width: 100%;
}

.react-slideshow-container {
  height: 100%;
}

.each-slide {  
  height: 100%;
  width: 100%;
}

.bodyLayer {
  position: fixed;
  max-width: 540px;
}

.handsbg {
  z-index: 2;
}

.handsLayers{
  position: absolute;
  height: 45vh;
  height: 45svh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
}

.hand {
  height: 45vh;
  height: 45svh;
  width: fit-content;
}

.headerLayer {
  position: relative;
  height: 55vh;
  height: 55svh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerH1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: var(--font-just-another-hand);
}

.headerIntro {
  font-size: 1.5rem;
  margin-right: auto;
  font-weight: 600;
}

.headerName {
  font-weight: 500;
  font-size: 4rem;
  line-height: .8;
}

.main__action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.main__scroll {
  width: 15%;  
}


.main__action .main__scroll-box {
  animation: scroll-down 3s infinite;
}

.aboutSection {
  grid-area: aboutMe;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
  padding: 1rem;
  font-size: 1.15rem;
}

.aboutLayout {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "gridH1   gridH1"
                       "grid4    grid4"
                       "grid1    grid1"
                       "grid2    grid2"
                       "grid3    grid3"
}

.aboutLayout p {
  text-align: justify;
  line-height: 28px;
}

.aboutH2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  grid-area: gridH1;
  text-align: center;
}

.about1 {
  grid-area: grid1;
}

.about2 {
  grid-area: grid2;
}

.about3 {
  grid-area: grid3;
}

.aboutH3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: .5em;
}

.aboutImg {
  grid-area: grid4;
  height: 50vh;
  width: auto;
  object-fit: contain;
  justify-self: center;
  align-self: flex-end;
}

.projectSection {
  grid-area: project;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 1rem;  
  font-size: 1.2rem;
  min-height: 80vh;
  min-height: 80svh;
}

.projectDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectContentContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.projectH2 {  
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1em;
}

.projectH-animation {  
  animation: slideLeft 1s both;
}

.projectDiv H3 {
  font-size: 1.5em;
  font-weight: 600;
}

.projectH3-2 {
  padding-top: 1em;
}

.goalsul {
  padding-left: 1.3em;
}

.goalsul li {
  padding-top: 1em;
}

.goalsul li::marker {
  content: "✔️";
}

.goalsli1-animation {
  animation: slideLeft 1s both;
}

.goalsli2-animation {
  animation: slideLeft 1.25s both;
}

.goalsli3-animation {
  animation: slideLeft 1.5s both;
}

.oppul {
  padding-left: 1.3em;
  padding-top: 1em;
}

.oppul li {  
  padding-top: 1em;
}

.oppul li::marker {
  content: "🧠";
}

.oppli1-animation {
  animation: slideLeft 1.75s both;
}

.oppli2-animation {
  animation: slideLeft 2s both;
}

/* TECH STACK START */
.techSection {
  grid-area: techSec;  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-height: 80vh;
  min-height: 80svh;
}

.techObserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#techHead {
  grid-area: techHead;
}

.techHead {
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.05em;
  width: 12ch;
  text-align: center;
}

.techGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: '.... ........ .........  ...  ....'
                       '.... ........ .........  ...  ....'
                       '.... ........ react      ...  ....'
                       '.... tailwind next       sql  pyth'
                       'html css      javascript php  java'
                       '.... click    click      click ....';  
  justify-content: center;
  align-items: center;
  gap: .25em;
  height: 70vh;
  width: 100%;
  max-width: 550px;
  padding-left: 1em;
  padding-right: 1em;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 8px gray;
  border: 2px solid lightgray;
  background-color: white;
  color: black;
  border-radius: 7px;
  height: 100%;
  width: 100%;
} 

.cardWrapper {
  animation: offHover .3s both;
  height: 100%;
  width: 100%;
}

.cardWrapper:hover {
  animation: onHover .3s forwards;
  z-index: 99;
} 

.cardWrapper:active {
  animation: offHover .3s both; 
} 

.skillLogo {
  margin: auto;
  font-size: 2em;
}

.skillName {
  margin-top: auto;
  font-size: .7em;
  color: black;
}

.clickText {
  padding-top: 1em;
  text-align: center;
}

#html {
  grid-area: html;
}

#css {
  grid-area: css;
}

#javascript {
  grid-area: javascript;
}

#php {
  grid-area: php;
}

#php > * {
  color: #7a86b8;
}

#java {
  grid-area: java;
}

#tailwind {
  grid-area: tailwind;
}

#next {
  grid-area: next;
}

#sql {
  grid-area: sql;
}

#sql > * {
  color: #db7533;
}

#python {
  grid-area: pyth;
}

#react {
  grid-area: react;  
}

#clickText {
  grid-area: click;
}

.column1-grid-animation{
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}

.column2-grid-animation{
  -webkit-animation: bounce-in-top 1.2s both;
          animation: bounce-in-top 1.2s both;
}

.column3-grid-animation{
  -webkit-animation: bounce-in-top 1.3s both;
          animation: bounce-in-top 1.3s both;
}

.column4-grid-animation{
  -webkit-animation: bounce-in-top 1.4s both;
          animation: bounce-in-top 1.4s both;
}

.column5-grid-animation{
  -webkit-animation: bounce-in-top 1.5s both;
          animation: bounce-in-top 1.5s both;
}

.techHead-grid-animation {
  animation: slideRight 1.6s ease forwards;
}

/* TECH STACK END */

.APIDemoSection {
  grid-area: APIDemo;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-height: 80vh;
  min-height: 80svh;
  padding: 1em;
}

.apiDemoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.apiTextContainer {
  width: 100%;
  font-size: 1.2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apiH2 {  
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1em;
}

.examplesContainer {
  padding-left: 1em;
}

.apiH3 {  
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: .4em;
  padding-top: 1em;
  text-align-last: justify;
}

.apiLI {  
  text-align-last: justify;  
  text-justify: inter-character;
}

.apiP {
  max-width: 60ch;
}

.apiForm {
  padding-top: 1em;
  font-size: .8rem;
}

#vinput {  
  border-radius: 4px;  
}

.vinButton {
  border-radius: 4px;
  padding-left: .1em;
  padding-right: .1em;
  margin-left: .25em;
}

.apiTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  width: 100%;
}

.apiTable {
  border-collapse: collapse;
  width: 100%;
}

.apiFieldColumn {
  max-width: 15ch;
}

.apiValueColumn {  
  max-width: 15ch;
}



/* NAVIGATION START */

.circular-menu {
  position: fixed;
  bottom: 1.5em;
  right: 0.5em;
  z-index: 20;
}

.circular-menu .floating-btn {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
  color: red;
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: white;
  transition: all .3s ease;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu.active:after {
  transform: scale3d(6.5, 6.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.3);
  transition: transform .3s ease, background .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0.3em,-5.2em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-2.5em,-4.6em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-4.5em,-2.5em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-5.1em,0.3em,0);
}

/* NAVIGATION HEADER START */
.navHeader {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  grid-area: navHead;
  z-index: 2;
  box-shadow: 0px 1px 4px gray;
}

.navUL {
  display: none;  
}

.navLI {
  color: var(--headercolorLight);  
}

.navAnchor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.themetoggle {
  cursor: pointer;
}

.navHeaderButtons {
  animation: offHover .3s both;
}

.navHeaderButtons:hover {
  animation: onHover .3s forwards;
  z-index: 99;
} 

.navHeaderButtons:active {
  animation: offHover .3s both; 
} 

/* NAVIGATION HEADER END */
/* NAVIGATION END */

/* FOOTER START */

.footerSection {
  height: 18vh;
  height: 18svh;
  width: 100%;
  overflow: hidden;
  grid-area: footers;
  z-index: -1;
}

.footerParallax {
  position: fixed;
  width: 100%;
  height: 18vh;
  height: 18svh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
}

.footerParallax > * {
  position: absolute;
  object-fit: cover;
}

.footer-content-container {
  display: flex;
  flex-direction: column;

}

.copyright-content {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: var(--font-just-another-hand);
  font-size: 1.75rem;
}

.footer-icon-wrapper {
  display: flex;
  justify-content: center;
  z-index: 2;
  bottom: 8%;
}

/* .footer-bg {
  height: 18vh;
  height: 18svh;
} removed with footerV1*/

.footerImg {
  height: 100%;
  max-width: 1150px;
}

.footer-icon {
  rotate: x -60deg;
  transition: transform 0.5s;
  padding-right: .25em;
  padding-left: .25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-just-another-hand);
  letter-spacing: .05em;
}

.footer-icon:hover {  
  transform: rotateX(60deg);  
}

/* FOOTER END */
@media (min-width: 400px){

  .headerH1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .headerName {
    font-weight: 500;
    font-size: 4rem;
    line-height: 2.5rem;
    letter-spacing: .075em;
  }  

  .skillLogo {
    font-size: 3em;
  }
  
  .skillName {
    font-size: 1em;
  }

  .copyright-content {
    font-size: 2rem;
  }

  .footer-icon-wrapper {
    display: flex;
    z-index: 2;
    bottom: 10%;
  }

  .footer-icon {
    rotate: x -60deg;
    transition: transform 0.5s;
    padding-right: .35em;
    padding-left: .35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .05em;
  }
}

@media (min-width: 550px) {

  .handsLayers{
    position: absolute;
    height: 45vh;
    height: 45svh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    z-index: 2;
  }

  .headerH1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  
  .headerName {
    font-weight: 500;
    font-size: 6rem;
    line-height: .75;
    letter-spacing: .075em;
  }
}

@media (min-width: 570px) {
  
  .techGrid {    
    width: 100%;
    max-width: 550px;
  }
  
}

@media (min-width: 768px) {

  .parallax {
    position: relative;
    height: 75vh;
    height: 75svh;
    display: flex;
    justify-content: center;
  }
  
  .parallax > * {
    position: absolute;
    height: 75vh;
    height: 75svh;
    object-fit: cover;
  }
    
  .backgroundLayer {
    position: fixed;
    width: 100vw;
  }
  
  .bodyLayer {
    position: fixed;
    max-width: 950px;
    top: -1px;
  }
  
  .hands {
    max-width: 100%;
    z-index: 1;
  }
  
  .handsLayers{
    position: absolute;
    height: 75vh;
    height: 75svh;
    display: flex;
    width: 100%;
  }

  .hand {
    height: 75vh;
    height: 75svh;
    width: fit-content;
  }

  .headerLayer {
    height: 25vh;
    height: 25svh;
    font-size: 2.25rem;
  }

  .headerH1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerName {
    font-weight: 500;
    font-size: 6rem;
    line-height: 4.8rem;
    letter-spacing: .075em;
  }

  .main__action {
    margin-top: 0;
  }

  .navUL {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .circular-menu {
    display: none;
  }

  .aboutLayout {
    line-height: 1.75rem;
    padding-top: 3rem;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "gridH1   gridH1"
                         "grid1    grid3"
                         "grid2    grid4"
  }

  .techHead {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  } 
  
  .apiValueColumn {  
    max-width: 60ch;
  }

  /* FOOTER START */

.footerSection {
  height: 25vh;
  height: 25svh;
  width: 100%;
  overflow: hidden;
  grid-area: footers;
  z-index: -1;
}

.footerParallax {
  position: fixed;
  width: 100%;
  height: 25vh;
  height: 25svh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
}

.footerParallax > * {
  position: absolute;
  object-fit: cover;
}

.footer-icon-wrapper {
  display: flex;
  justify-content: center;
  z-index: 2;
  bottom: 25%;
}

.copyright-content {
  font-size: 2.5rem;
  letter-spacing: .05em;
}

/* .footer-bg {
  height: 35vh;
  height: 35svh;
} removed with footerV1 */

.footerImg {
  height: 100%;
  max-width: 1900px;
}

.footer-icon {
  rotate: x -55deg;
  transition: transform 0.5s;  
  padding-right: .35em;
  padding-left: .35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: .05em;
}

.footer-icon:hover {  
  transform: rotateX(55deg);  
}

/* FOOTER END */
}

@media (min-width: 1040px) {
  .mainGrid {    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1020px auto;
    grid-template-areas: "landing  landing  landing"
                         "navHead  navHead  navHead"
                         ".        aboutMe        ."
                         ".        techSec        ."
                         ".        project        ."
                         ".        APIDemo        ."
                         "footers  footers  footers";
  }  


  .aboutLayout {
    line-height: 1.75rem;
    padding-top: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "gridH1   gridH1"
                         "grid1    grid4 "
                         "grid2    grid4 "
                         "grid3    grid4"
  }

  .aboutImg {
    grid-area: grid4;
    height: 90vh;
    width: auto;
    object-fit: contain;
    justify-self: flex-end;
    align-self: end;
  }
 
  .techObserve {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .techHead {    
    text-align: left;
  }

  .techObserve {    
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .techGrid {      
    padding-right: .7em;
    margin: 0; 
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
  
  .projectContentContainer {
    flex-direction: row;
  }

  .oppul {
    padding-left: 1.3em;
    padding-top: 0;
  }

  .projectH3-2 {
    padding-top: 0;
  }

  .oppContainer {
    padding-left: 2em;
  }

  .apiTextContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .examplesContainer {
    border-left: solid #3f3f3f;
  }

  .apiH3 {
    padding-top: 0;
  }  

  .apiP {
    padding-right: 1em;
  }
  
}

@media (min-width: 1400px) {
  
  .handsLayers{
    position: absolute;
    height: 45vh;
    height: 45svh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    z-index: 2;
  }
}

@keyframes textReveal{
  0%{
    transform: rotateX(90deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}

@keyframes fall{
  0%{
    transform: translateY(-200em);
  }
  100%{
    transform: translateY(0em);
  }
}

@keyframes slideRight{
  0%{
    transform: translateX(-75em);
  }
  100%{
    transform: translateX(0em);
  }
}

@keyframes slideLeft{
  0%{
    transform: translateX(75em);
  }
  100%{
    transform: translateX(0em);
  }
}

 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@keyframes onHover {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

@keyframes offHover {
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}